<div class="row">
  <!-- Vote Box -->
  <div class="span0 well text-center">
    <% if logged_in? %>  
      <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
        <i class="icon-arrow-up"></i>
      <% end %>
      </br>
    <% end %>  

  <span id="post_<%=post.slug%>_votes"><%= post.total_votes %> Vote(s)</span>
  
    <% if logged_in? %>
      </br>
      <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>  
  </div>
  


  <!--Post content box -->
  <div class="span8 well">
    <%= render post.categories %>

    <p class="pull-right">  
      <span class="icon-comment"></span>
      <small><%= "#{post.comments.size} comment(s)" %></small> 
    </p>
    
    <h4><%= link_to post.title, post_path(post) %></h4>

    <p>
      <span class="quiet">Posted by:</span> 
      <%= link_to post.creator.username, user_path(post.creator) %> 
      <% if post.creator.admin? %>
        <span class="label label-warning">ADMIN</span>
      <% end %>
      on <small><%= fix_date(post.created_at) %></small>
    </p>

    <p><%= link_to post.url, fix_url(post.url) %></p>

    <p><%= post.description %></p>
  </div>
</div>